<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65926409161-f4esvebfs9rh6u4r7enha670v0kfblhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65926409161-f4esvebfs9rh6u4r7enha670v0kfblhu</string>
	<key>API_KEY</key>
	<string>AIzaSyAqLnO3zHwlrFCHfrzRnv_AedLj4K44B-0</string>
	<key>GCM_SENDER_ID</key>
	<string>65926409161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kmongproject.myApplication</string>
	<key>PROJECT_ID</key>
	<string>fir-test-158a3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-158a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65926409161:ios:0f7feefd3120560dfb1618</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-158a3-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>